// #app { height: 100% }
// html,
// body {
//   position: relative;
//   height: 100%;
// }

// body {
//   background: #eee;
//   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//   font-size: 14px;
//   color: #000;
//   margin: 0;
//   padding: 0;
// }

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper {
  height: 350px;
  // width: 323px;
  width: 40%;
  min-width: 320px;
  box-shadow: 0px 8px 12px
    rgba(
      184.00000423192978,
      184.00000423192978,
      210.00000268220901,
      0.20000000298023224
    );
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.mySwiper-slide-1 {
  > .mySwiper {
  }

  background: url("https://pastvu.com/_p/a/a/w/3/aw3dc2j63njris472x.jpeg") no-repeat;
  background-size: cover;

}
.mySwiper-slide-2 {
  > .mySwiper {
  }

  background: url("https://pastvu.com/_p/a/f/5/4/f54172c386e12b508817f7693782545c.jpg") no-repeat;
  background-size: cover;

}
.mySwiper-slide-3 {
  > .mySwiper {
  }

  background: url("https://pastvu.com/_p/a/5/r/4/5r4a537zxegzpasvnl.jpg") no-repeat;
  background-size: cover;

}
.mySwiper-slide-4 {
  > .mySwiper {
  }

  background: url("https://pastvu.com/_p/a/4/e/f/4ef612859c92c2fb82caa4b644e58f79.jpg") no-repeat;
  background-size: cover;

}
.mySwiper-slide-5 {
  > .mySwiper {
  }

  background: url("https://pastvu.com/_p/a/1/4/c/14cc3816d7d353201cc1140ce1338a84.jpg") no-repeat;
  background-size: cover;

}
.mySwiper-slide-6 {
  > .mySwiper {
  }

  background: url("https://pastvu.com/_p/a/4/j/m/4jmwg6jyw9fily3aii.jpg") no-repeat;
  background-size: cover;

}
.mySwiper-slide-7 {
  > .mySwiper {
  }

  background: url("https://pastvu.com/_p/a/4/0/e/40eeb7b0e447fb7056549574fc67392d.jpg") no-repeat;
  background-size: cover;

}
.mySwiper-slide-8 {
  > .mySwiper {
  }

  background: url("https://pastvu.com/_p/a/v/4/o/v4o4n1q8s72nkg0198.jpg") no-repeat;
  background-size: cover;

}
.mySwiper-slide-9 {
  > .mySwiper {
  }

  background: url("https://pastvu.com/_p/a/6/9/a/69aeca3f25ed4c7e68719bd3d0257631.jpg") no-repeat;
  background-size: cover;

}