.buildings__page__header-container{
	background-color: var(--primary-color);
	overflow:hidden;
    width:375px;
	height:310px;
	// width: 50%;
	position:relative;
	margin-left: auto;
    margin-right: auto;
}
.e701_848 { 
	overflow:hidden;
}

.e445_9457 { 
	width:113px;
	height:36px;
	position:absolute;
	left:20px;
	top:60px;
}
.e445_9458 { 
	color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:113px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e450_3511 { 
	width:36px;
	height:36px;
	position:absolute;
	left:313px;
	top:50.8790283203125px;
}
.e450_3512 { 
	border-radius:500px;
	background-color:rgba(234.00000125169754, 234.00000125169754, 255, 1);
	width:36px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.e450_3513 { 
	width:36px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.e450_3514 { 
	overflow:hidden;
}
.e450_3514 { 
	width:36px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.e450_3516 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.9459350109100342px;
	height:0.3377416729927063px;
	position:absolute;
	left:20.2003116607666px;
	top:13.832585334777832px;
}
.e450_3517 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.9459376335144043px;
	height:0.3377416729927063px;
	position:absolute;
	left:15.130172729492188px;
	top:13.832585334777832px;
}
.e450_3518 { 
	width:35.99992752075195px;
	height:22.4954891204834px;
	position:absolute;
	left:0.00011444091796875px;
	top:27.478240966796875px;
}
.e450_3519 { 
	background-color:rgba(218.00000220537186, 87.00000241398811, 66.00000366568565, 1);
	width:8.962019920349121px;
	height:7.033935546875px;
	position:absolute;
	left:27.037843704223633px;
	top:12.819365501403809px;
}
.e450_3520 { 
	background-color:rgba(218.00000220537186, 87.00000241398811, 66.00000366568565, 1);
	width:9.104837417602539px;
	height:7.355283737182617px;
	position:absolute;
	left:-0.000064849853515625px;
	top:12.631933212280273px;
}
.e450_3521 { 
	background-color:rgba(196.00000351667404, 61.00000016391277, 40.00000141561031, 1);
	width:8.94416618347168px;
	height:2.892124652862549px;
	position:absolute;
	left:27.037843704223633px;
	top:12.819365501403809px;
}
.e450_3522 { 
	background-color:rgba(196.00000351667404, 61.00000016391277, 40.00000141561031, 1);
	width:9.069132804870605px;
	height:3.186691999435425px;
	position:absolute;
	left:0.11582857370376587px;
	top:12.373229026794434px;
}
.e450_3523 { 
	background-color:rgba(61.16404116153717, 92.17780977487564, 255, 1);
	width:35.75880432128906px;
	height:22.4954891204834px;
	position:absolute;
	left:0.009482434019446373px;
	top:0.00008096157398540527px;
}
.e450_3524 { 
	background-color:rgba(34.00000177323818, 75.00000312924385, 244.0000006556511, 1);
	width:3.7579782009124756px;
	height:5.989556312561035px;
	position:absolute;
	left:4.293826103210449px;
	top:8.204446792602539px;
}
.e450_3525 { 
	background-color:rgba(34.00000177323818, 75.00000312924385, 244.0000006556511, 1);
	width:4.2399983406066895px;
	height:7.4177632331848145px;
	position:absolute;
	left:27.037843704223633px;
	top:7.4547858238220215px;
}
.e450_3526 { 
	background-color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:1.9582825899124146px;
	height:6.794634819030762px;
	position:absolute;
	left:6.344901084899902px;
	top:7.488731861114502px;
}
.e450_3527 { 
	background-color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:2.4659199714660645px;
	height:7.592957496643066px;
	position:absolute;
	left:26.91611671447754px;
	top:7.342074871063232px;
}
.e450_3528 { 
	background-color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:18.456356048583984px;
	height:14.336956977844238px;
	position:absolute;
	left:8.5067138671875px;
	top:2.75225830078125px;
}
.e450_3529 { 
	width:19.897645950317383px;
	height:19.91023063659668px;
	position:absolute;
	left:8.0511474609375px;
	top:9.702392578125px;
}
.e450_3531 { 
	width:19.897645950317383px;
	height:19.91023063659668px;
	position:absolute;
	left:0px;
	top:0px;
}
.e450_3532 { 
	background-color:rgba(196.00000351667404, 61.00000016391277, 40.00000141561031, 1);
	width:4.584078311920166px;
	height:5.1783881187438965px;
	position:absolute;
	left:0.00008600894216215238px;
	top:4.4872727394104px;
}
.e450_3533 { 
	width:18.08233642578125px;
	height:19.91023063659668px;
	position:absolute;
	left:1.8153959512710571px;
	top:-0.000017070466128643602px;
}
.e450_3534 { 
	background-color:rgba(196.00000351667404, 61.00000016391277, 40.00000141561031, 1);
	width:4.584076404571533px;
	height:5.187812328338623px;
	position:absolute;
	left:13.498234748840332px;
	top:4.477858066558838px;
}
.e450_3535 { 
	background-color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:2.477185010910034px;
	height:2.825310707092285px;
	position:absolute;
	left:14.283763885498047px;
	top:5.980494499206543px;
}
.e450_3536 { 
	background-color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:2.474262237548828px;
	height:2.822082281112671px;
	position:absolute;
	left:-0.00003368595571373589px;
	top:5.983809471130371px;
}
.e450_3537 { 
	background-color:rgba(218.00000220537186, 87.00000241398811, 66.00000366568565, 1);
	width:12.588409423828125px;
	height:19.91023063659668px;
	position:absolute;
	left:2.170647382736206px;
	top:-0.000017070466128643602px;
}
.e450_3538 { 
	background-color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:1.3210959434509277px;
	height:1.5710315704345703px;
	position:absolute;
	left:5.384369373321533px;
	top:5.315698623657227px;
}
.e450_3539 { 
	background-color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:1.3210930824279785px;
	height:1.5710315704345703px;
	position:absolute;
	left:10.195670127868652px;
	top:5.315698623657227px;
}
.e450_3540 { 
	background-color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:0.8708638548851013px;
	height:2.6265676021575928px;
	position:absolute;
	left:7.878332138061523px;
	top:4.833759784698486px;
}
.e450_3541 { 
	background-color:rgba(196.00000351667404, 61.00000016391277, 40.00000141561031, 1);
	width:5.748547554016113px;
	height:3.6954925060272217px;
	position:absolute;
	left:4.893214702606201px;
	top:13.72440242767334px;
}
.e450_3542 { 
	width:10.34527587890625px;
	height:1.7852699756622314px;
	position:absolute;
	left:3.134657859802246px;
	top:7.038519382476807px;
}
.e450_3543 { 
	background-color:rgba(196.00000351667404, 61.00000016391277, 40.00000141561031, 1);
	width:2.838566303253174px;
	height:1.7852638959884644px;
	position:absolute;
	left:7.506709575653076px;
	top:0.00000605438162892824px;
}
.e450_3544 { 
	background-color:rgba(196.00000351667404, 61.00000016391277, 40.00000141561031, 1);
	width:2.838566303253174px;
	height:1.7852638959884644px;
	position:absolute;
	left:0px;
	top:0px;
}
.e450_3545 { 
	background-color:rgba(255, 255, 255, 1);
	width:2.429718494415283px;
	height:1.346181035041809px;
	position:absolute;
	left:9.170517921447754px;
	top:8.364530563354492px;
}
.e450_3546 { 
	background-color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:11.863068580627441px;
	height:5.226490020751953px;
	position:absolute;
	left:4.271434783935547px;
	top:9.475397109985352px;
}
.e450_3547 { 
	background-color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:0.5784258246421814px;
	height:0.7533822655677795px;
	position:absolute;
	left:8.177599906921387px;
	top:10.703681945800781px;
}
.e450_3548 { 
	background-color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:0.7520940899848938px;
	height:0.5724242329597473px;
	position:absolute;
	left:6.305801868438721px;
	top:10.536538124084473px;
}
.e450_3549 { 
	background-color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:0.21423368155956268px;
	height:0.6605493426322937px;
	position:absolute;
	left:10.145135879516602px;
	top:10.97518253326416px;
}
.e450_3550 { 
	background-color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:0.4020458161830902px;
	height:0.6696557402610779px;
	position:absolute;
	left:11.653607368469238px;
	top:10.698179244995117px;
}
.e450_3551 { 
	background-color:rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
	width:0.8458279967308044px;
	height:0.5835892558097839px;
	position:absolute;
	left:13.176399230957031px;
	top:10.605690002441406px;
}
.e450_3552 { 
	opacity:0.5918999910354614;
	width:35.13040542602539px;
	height:15.379841804504395px;
	position:absolute;
	left:0.3125227987766266px;
	top:31.50149154663086px;
}
.e450_3553 { 
	opacity:0.5918999910354614;
	width:25.902496337890625px;
	height:15.37979507446289px;
	position:absolute;
	left:4.305117130279541px;
	top:0.000012310699275985826px;
}
.e450_3554 { 
	background-color:rgba(191.00000381469727, 227.00000166893005, 198.00000339746475, 1);
	opacity:0.5918999910354614;
	width:1.9043511152267456px;
	height:1.2198874950408936px;
	position:absolute;
	left:8.127331733703613px;
	top:1.8106149435043335px;
}
.e450_3555 { 
	background-color:rgba(191.00000381469727, 227.00000166893005, 198.00000339746475, 1);
	opacity:0.5918999910354614;
	width:1.0459064245224px;
	height:2.417520523071289px;
	position:absolute;
	left:7.0402679443359375px;
	top:6.129899024963379px;
}
.e450_3556 { 
	background-color:rgba(191.00000381469727, 227.00000166893005, 198.00000339746475, 1);
	opacity:0.5918999910354614;
	width:1.9340713024139404px;
	height:2.2992053031921387px;
	position:absolute;
	left:-0.00005861154932063073px;
	top:2.8468267917633057px;
}
.e450_3557 { 
	background-color:rgba(191.00000381469727, 227.00000166893005, 198.00000339746475, 1);
	opacity:0.5918999910354614;
	width:2.6445698738098145px;
	height:0.9783167839050293px;
	position:absolute;
	left:4.407073974609375px;
	top:13.34811019897461px;
}
.e450_3558 { 
	background-color:rgba(191.00000381469727, 227.00000166893005, 198.00000339746475, 1);
	opacity:0.5918999910354614;
	width:1.1103506088256836px;
	height:2.5086185932159424px;
	position:absolute;
	left:13.72628402709961px;
	top:11.141626358032227px;
}
.e450_3559 { 
	background-color:rgba(191.00000381469727, 227.00000166893005, 198.00000339746475, 1);
	opacity:0.5918999910354614;
	width:1.488388180732727px;
	height:2.2901365756988525px;
	position:absolute;
	left:20.37411117553711px;
	top:13.089736938476562px;
}
.e450_3560 { 
	background-color:rgba(191.00000381469727, 227.00000166893005, 198.00000339746475, 1);
	opacity:0.5918999910354614;
	width:0.7935790419578552px;
	height:2.4148788452148438px;
	position:absolute;
	left:17.201231002807617px;
	top:0.00007861128688091412px;
}
.e450_3561 { 
	background-color:rgba(191.00000381469727, 227.00000166893005, 198.00000339746475, 1);
	opacity:0.5918999910354614;
	width:3.236968755722046px;
	height:1.5919382572174072px;
	position:absolute;
	left:16.306171417236328px;
	top:6.1409711837768555px;
}
.e450_3562 { 
	background-color:rgba(191.00000381469727, 227.00000166893005, 198.00000339746475, 1);
	opacity:0.5918999910354614;
	width:1.4121205806732178px;
	height:1.784738540649414px;
	position:absolute;
	left:24.49031639099121px;
	top:3.576597213745117px;
}
.e450_3563 { 
	transform: rotate(-5.946625774717429deg);
	background-color:rgba(191.00000381469727, 227.00000166893005, 198.00000339746475, 1);
	opacity:0.5918999910354614;
	width:6.542988300323486px;
	height:0.08926312625408173px;
	position:absolute;
	left:28.613563537597656px;
	top:9.704428672790527px;
}
.e450_3564 { 
	transform: rotate(-1.2307369603658458deg);
	background-color:rgba(191.00000381469727, 227.00000166893005, 198.00000339746475, 1);
	opacity:0.5918999910354614;
	width:6.444797992706299px;
	height:0.08926312625408173px;
	position:absolute;
	left:0.00008764304220676422px;
	top:8.80433177947998px;
}
.e450_3565 { 
	width:77px;
	height:58px;
	position:absolute;
	left:-21px;
	top:-10.8790283203125px;
	background-image:url("../../assets/AppLogo.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.e445_9455 { 
	width:335px;
	height:48px;
	position:absolute;
	left:20px;
	top:112px;
}
.e445_9456 { 
	background-color:rgba(244.0000006556511, 243.00000071525574, 253.0000001192093, 1);
	width:335px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei445_9456_44_1901 { 
	color:rgba(184.00000423192978, 184.00000423192978, 210.00000268220901, 1);
	width:83px;
	height:20px;
	position:absolute;
	left:44px;
	top:14px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.ei445_9456_44_1913 { 
	width:16px;
	height:16px;
	position:absolute;
	left:16px;
	top:16px;
}
.ei445_9456_44_1913_44_1910 { 
	background-color:rgba(184.00000423192978, 184.00000423192978, 210.00000268220901, 1);
	width:13.902366638183594px;
	height:13.902366638183594px;
	position:absolute;
	left:0.6666666865348816px;
	top:0.6666666865348816px;
}
.e445_9282 { 
	width:375px;
	height:48px;
	position:absolute;
	left:0px;
	top:160px;
}
.e450_3566 { 
	box-shadow:0px 8px 12px rgba(184.00000423192978, 184.00000423192978, 210.00000268220901, 0.20000000298023224);
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:36px;
	position:absolute;
	left:0px;
	top:6px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e445_9283 { 
	width:375px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei445_9283_44_2057 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei445_9283_44_1928 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:20px;
	position:absolute;
	left:20px;
	top:14px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.ei445_9283_44_2058 { 
	width:46px;
	height:20px;
	position:absolute;
	left:309px;
	top:14px;
	font-family:Poppins;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
