html,
body {
  overflow-y: scroll;
}

.buildings__page__header-subcontainer {
  overflow: hidden;
  width: 375px;
  height: 215px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 8px 12px
    rgba(
      184.00000423192978,
      184.00000423192978,
      210.00000268220901,
      0.20000000298023224
    );
  border-radius: 16px;
  position: relative;
  margin-bottom: 10vh;
}
.searchInput_Container {
  overflow: hidden;
  width: 375px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 8px 12px
    rgba(
      184.00000423192978,
      184.00000423192978,
      210.00000268220901,
      0.20000000298023224
    );
  border-radius: 16px;
  position: relative;
  margin-bottom: 10vh;
}
.e701_848 {
  overflow: hidden;
}

.e445_9457 {
  width: 113px;
  height: 36px;
  position: absolute;
  left: 20px;
  top: 60px;
}
.e445_9458 {
  color: rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
  width: 113px;
  height: 36px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: var(--font-base);
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}
.e450_3511 {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 313px;
  top: 50.8790283203125px;
}
.e450_3512 {
  border-radius: 500px;
  background-color: rgba(234.00000125169754, 234.00000125169754, 255, 1);
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e450_3565 {
  width: 55px;
  height: 55px;
  position: absolute;
  background-image: url("../../assets/AppLogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.searchInput__Container-search {
  width: 335px;
  height: 48px;
  position: absolute;
  left: 20px;
  top: 112px;
  border-radius: 16px;
  background-color: #f4f3fd;
  border-color: #f4f3fd;
  font-family: var(--font-base);
  border: none;
  padding: 10px;
}
.e445_9456 {
  background-color: rgba(
    244.0000006556511,
    243.00000071525574,
    253.0000001192093,
    1
  );
  width: 335px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.buildings__page__header-search-text {
  color: rgba(184.00000423192978, 184.00000423192978, 210.00000268220901, 1);
  width: 83px;
  height: 20px;
  position: absolute;
  left: 44px;
  top: 14px;
  font-family: Poppins;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
  line-height: px;
}
.buildings__page__header-search-icon-div {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 16px;
}
.buildings__page__header-search-icon {
  background-color: rgba(
    184.00000423192978,
    184.00000423192978,
    210.00000268220901,
    1
  );
  width: 13.902366638183594px;
  height: 13.902366638183594px;
  position: absolute;
  left: 0.6666666865348816px;
  top: 0.6666666865348816px;
}
.buildings__page__header-queries-div {
  width: 100%;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 160px;
}
.e450_3566 {
  // box-shadow:0px 8px 12px rgba(184.00000423192978, 184.00000423192978, 210.00000268220901, 0.20000000298023224);
  background-color: rgba(255, 255, 255, 1);
  width: 375px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.e445_9283 {
  width: 375px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.ei445_9283_44_1928 {
  color: rgba(0, 0, 0, 1);
  width: 142px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 14px;
  font-family: Poppins;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.ei445_9283_44_2058 {
  width: 46px;
  height: 20px;
  position: absolute;
  left: 309px;
  top: 14px;
  font-family: Poppins;
  text-align: right;
  font-size: 14px;
  letter-spacing: 0;
  line-height: px;
}
