
.Courselist_Courselist {
	width: 335px;
	height: 96px;
}
.Courselist_Courselist .BG {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,1.00);
	border-radius: 12px;
}
.Courselist_Courselist .Image {
	position: absolute;
	left: 14px;
	top: 14px;
	width: 20.298507462686565%;
	height: 70.83333333333334%;
	background: linear-gradient(0deg, rgba(196,196,196,1.00), rgba(196,196,196,1.00));
	border-radius: 8px;
	background-size: cover;
}
.Courselist_Courselist .Name {
	position: absolute;
	left: 117px;
	top: 13px;
	width: 40.59701492537313%;
	height: 21.875%;
	color: rgba(31,31,57,1.00);
	font-family: Poppins;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.40625px;
}
.Courselist_Courselist .nameenx {
	position: absolute;
	left: 133px;
	top: 36px;
	width: 25.970149253731346%;
	height: 18.75%;
	color: rgba(184,184,210,1.00);
	font-family: Poppins;
	font-size: 12px;
	font-weight: 400;
	line-height: 14.0625px;
}
.Courselist_Courselist .iconpeople {
	position: absolute;
	left: 117px;
	top: 39px;
	width: 3.582089552238806%;
	height: 12.5%;
}
.Courselist_Courselist .iconpeople .Union {
	width: 70.83333333333334%;
	height: 83.33333333333334%;
}
.Courselist_Courselist .Frame17 {
	position: absolute;
	left: 117px;
	top: 56px;
	width: 95px;
	height: 24px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.Courselist_Courselist .Frame17 .Price {
	position: relative;
	flex: none;
	margin-right: 6px;
	width: 33.68421052631579%;
	height: 100%;
}
.Courselist_Courselist .Frame17 .Price ._ {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 34.375%;
	height: 100%;
	color: rgba(61,92,255,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 600;
	line-height: 18.75px;
}
.Courselist_Courselist .Frame17 .Price ._90 {
	position: absolute;
	left: 11px;
	top: 0px;
	width: 65.625%;
	height: 100%;
	color: rgba(61,92,255,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 600;
	line-height: 18.75px;
}
.Courselist_Courselist .Frame17 .Duration {
	position: relative;
	flex: none;
	margin-right: 6px;
	width: 57px;
	height: 62.5%;
	display: flex;
	padding-top: 10px;
	padding-right: 8px;
	padding-bottom: 10px;
	padding-left: 8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(255,235,240,1.00);
	border-radius: 13px;
}
.Courselist_Courselist .Frame17 .Duration .Duration_1 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 41px;
	height: 15px;
	color: rgba(255,105,5,1.00);
	font-family: Poppins;
	font-size: 10px;
	font-weight: 400;
	line-height: 11.71875px;
}