
.elementscheckBoxon_elementscheckBoxon {
	width: 16px;
	height: 16px;
}
.elementscheckBoxon_elementscheckBoxon .elementscheckBoxoff {
	position: absolute;
	left: 0px;
	top: 0px;
}
.elementscheckBoxon_elementscheckBoxon .elementscheckBoxoff .elementscheckBoxoff_1 {
	background: rgba(234,234,255,1.00);
	border: 1px solid rgba(184.00000423192978,184.00000423192978,210.00000268220901,1);
}
.elementscheckBoxon_elementscheckBoxon .Vector2 {
	position: absolute;
	left: 4.6895751953125px;
	top: 5.43402099609375px;
	width: 43.75%;
	height: 28.125%;
}