
.elementscheckBoxoff_elementscheckBoxoff {
	width: 16px;
	height: 16px;
}
.elementscheckBoxoff_elementscheckBoxoff .elementscheckBoxoff_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	border: 1px solid rgba(184.00000423192978,184.00000423192978,210.00000268220901,1);
	box-sizing: border-box;
}