
.Empty9_Empty9 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
	border-radius: 69.12px;
}
.Empty9_Empty9 .Navigation {
	position: absolute;
	left: 0px;
	top: 168.95999999999998px;
	width: 100%;
	height: 5.41871921182266%;
}
.Empty9_Empty9 .Navigation .navigationbarlight {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Empty9_Empty9 .Navigation .navigationbarlight .bg {
	width: 1440px;
	height: 168.95999999999998px;
}
.Empty9_Empty9 .Navigation .navigationbarlight .iconarrowleft {
	position: absolute;
	left: 61.44px;
	top: 38.4px;
	width: 92.16px;
	height: 92.16px;
}
.Empty9_Empty9 .Navigation .navigationbarlight .iconarrowleft .VectorStroke {
	visibility: hidden;
	width: 91.6656494140625%;
	height: 83.33333333333334%;
}
.Empty9_Empty9 .Navigation .navigationbarlight .iconarrowleft .Vector3 {
	width: 29.999796549479168%;
	height: 60.000101725260414%;
}
.Empty9_Empty9 .Navigation .navigationbarlight .Title {
	width: 0px;
	height: 84.47999999999999px;
	font-size: 69.12px;
	font-weight: 500;
	line-height: 82.94400146484375px;
}
.Empty9_Empty9 .Status {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 5.41871921182266%;
}
.Empty9_Empty9 .Status .statuslight {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Empty9_Empty9 .Status .statuslight .Notch {
	width: 1440px;
	height: 115.19999999999999px;
}
.Empty9_Empty9 .Status .statuslight .Notch .Subtract {
	visibility: hidden;
	width: 168.95999999999998px;
	height: 115.19999999999999px;
}
.Empty9_Empty9 .Status .statuslight .Notch .Rectangle11 {
	visibility: hidden;
	width: 510.71999999999997px;
	height: 100%;
}
.Empty9_Empty9 .Status .statuslight .Notch .Subtract_1 {
	visibility: hidden;
	width: 168.95999999999998px;
	height: 115.19999999999999px;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons {
	width: 264.96px;
	height: 53.76px;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .NetworkSignalLight {
	width: 76.8px;
	height: 53.76px;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .NetworkSignalLight .Path {
	width: 15%;
	height: 57.14285714285714%;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .NetworkSignalLight .Path_1 {
	width: 15%;
	height: 42.857142857142854%;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .NetworkSignalLight .Path_2 {
	width: 15%;
	height: 32.142857142857146%;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .NetworkSignalLight .EmptyBar {
	width: 15%;
	height: 71.42857142857143%;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .NetworkSignalLight .Path_3 {
	width: 15%;
	height: 57.14285714285714%;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .NetworkSignalLight .Path_4 {
	width: 15%;
	height: 42.857142857142854%;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .NetworkSignalLight .Path_5 {
	width: 15%;
	height: 32.142857142857146%;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .NetworkSignalLight .EmptyBar_1 {
	visibility: hidden;
	width: 15%;
	height: 71.42857142857143%;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .WiFiSignalLight {
	width: 61.44px;
	height: 53.76px;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .WiFiSignalLight .Path_6 {
	width: 27.32391357421875%;
	height: 21.860177176339285%;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .WiFiSignalLight .Path_7 {
	width: 58.2489013671875%;
	height: 23.672921316964285%;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .WiFiSignalLight .Path_8 {
	width: 89.0625%;
	height: 30.875941685267854%;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .BatteryLight {
	width: 96px;
	height: 53.76px;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .BatteryLight ._ {
	visibility: hidden;
	width: 30.72px;
	height: 46.08px;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .BatteryLight .Subtract_2 {
	visibility: hidden;
	width: 88.32px;
	height: 46.08px;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .BatteryLight .Rectangle23 {
	width: 3.84px;
	height: 15.36px;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .BatteryLight .Battery {
	visibility: hidden;
	width: 72.9609375px;
	height: 30.72px;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .BatteryLight .Battery ._100 {
	width: 72.9609375px;
	height: 30.72px;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .BatteryLight .Battery ._50 {
	visibility: hidden;
	width: 32.4515625px;
	height: 30.72px;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .BatteryLight .Battery ._10 {
	visibility: hidden;
	width: 11.52px;
	height: 30.72px;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .BatteryLight .Rectangle21Stroke {
	width: 88.32px;
	height: 46.08px;
}
.Empty9_Empty9 .Status .statuslight .StatusIcons .BatteryLight .Rectangle20 {
	width: 72.96px;
	height: 30.72px;
	background: rgba(31,31,57,1.00);
	border-radius: 3.84px;
}
.Empty9_Empty9 .Status .statuslight .Indicator {
	width: 23.04px;
	height: 23.04px;
}
.Empty9_Empty9 .Status .statuslight .Indicator .Indicator_1 {
	visibility: hidden;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.Empty9_Empty9 .Status .statuslight .TimeLight {
	width: 207.35999999999999px;
	height: 80.64px;
	border-radius: 76.8px;
}
.Empty9_Empty9 .Status .statuslight .TimeLight ._941 {
	width: 126.72px;
	height: 57.599999999999994px;
}
.Empty9_Empty9 .Status .statuslight .TimeLight ._941 ._941_1 {
	width: 109.156875px;
	height: 42.58125px;
}
.Empty9_Empty9 .Noproducts {
	position: absolute;
	left: 531.84px;
	top: 1351.6799999999998px;
	width: 26.400000000000002%;
	height: 2.3399014778325125%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(31,31,57,1.00);
	font-family: Poppins;
	font-size: 61.44px;
	font-weight: 500;
	line-height: 73.72800292968749px;
}
.Empty9_Empty9 .Youdonthaveanyproductsyet {
	position: absolute;
	left: 307.2px;
	top: 1455.36px;
	width: 56.76953125000001%;
	height: 2.2167487684729066%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(184,184,210,1.00);
	font-family: Poppins;
	font-size: 46.08px;
	font-weight: 400;
	line-height: 54px;
}
.Empty9_Empty9 .Frame30 {
	position: absolute;
	left: 468.1771875px;
	top: 844.5290625px;
	width: 34.975390625%;
	height: 10.362206069119457%;
}
.Empty9_Empty9 .Illustration {
	position: absolute;
	left: 412.8px;
	top: 737.28px;
	width: 42.66666666666667%;
	height: 19.704433497536947%;
}
.Empty9_Empty9 .Illustration .Group {
	position: absolute;
	left: 24.96px;
	top: 134.4px;
	width: 93.03085327148438%;
	height: 56.875%;
}
.Empty9_Empty9 .Illustration .Group .Vector {
	position: absolute;
	left: 0px;
	top: 348.49828125px;
	width: 100%;
	height: 0.26949368990384615%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 {
	position: absolute;
	left: 58.734375px;
	top: 0px;
	width: 73.90907137596832%;
	height: 99.83782087053571%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_2 {
	position: absolute;
	left: 4.6396875px;
	top: 133.61203125px;
	width: 98.90172076322528%;
	height: 61.701844643627325%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_2 .Vector_1 {
	position: absolute;
	left: 45.4828125px;
	top: 49.43625px;
	width: 39.10291362346157%;
	height: 77.03408358448165%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_2 .Vector_2 {
	position: absolute;
	left: 45.4828125px;
	top: 54.333749999999995px;
	width: 39.10291362346157%;
	height: 57.305367315297104%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_2 .Vector_3 {
	position: absolute;
	left: 0px;
	top: 49.43625px;
	width: 49.988668618805605%;
	height: 59.58007421214919%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_2 .Vector_4 {
	position: absolute;
	left: 10.545937499999999px;
	top: 55.83984375px;
	width: 27.51865190221355%;
	height: 25.37171402191523%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_2 .Vector_5 {
	position: absolute;
	left: 208.8590625px;
	top: 49.43625px;
	width: 39.12535200206433%;
	height: 77.03408358448165%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_2 .Vector_6 {
	position: absolute;
	left: 208.8590625px;
	top: 54.333749999999995px;
	width: 39.12535200206433%;
	height: 57.305367315297104%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_2 .Vector_7 {
	position: absolute;
	left: 45.105px;
	top: 0px;
	width: 78.4086701894921%;
	height: 53.980845948818%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_2 .Vector_8 {
	position: absolute;
	left: 208.8590625px;
	top: 49.43625px;
	width: 50.01110699740837%;
	height: 59.58007421214919%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_2 .Vector_9 {
	position: absolute;
	left: 259.8946875px;
	top: 67.51593749999999px;
	width: 20.82752740286987%;
	height: 22.60443705032838%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_3 {
	position: absolute;
	left: 1.565625px;
	top: 89.82609375px;
	width: 79.54590847155215%;
	height: 45.993015909698585%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_3 .Vector_10 {
	position: absolute;
	left: 262.78125px;
	top: 59.2303125px;
	width: 21.772935875796843%;
	height: 51.2323660786015%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_3 .Vector_11 {
	position: absolute;
	left: 0px;
	top: 77.30859375px;
	width: 44.768653489377726%;
	height: 48.08550169583622%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_3 .Vector_12 {
	position: absolute;
	left: 262.78125px;
	top: 59.2303125px;
	width: 16.86897571454477%;
	height: 25.586823600898605%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_3 .Group_4 {
	position: absolute;
	left: 97.3321875px;
	top: 0px;
	width: 66.2436357042224%;
	height: 100%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_3 .Group_4 .Vector_13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_3 .Vector_14 {
	position: absolute;
	left: 277.8478125px;
	top: 108.174375px;
	width: 17.317301120116056%;
	height: 20.72893204677645%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_3 .Vector_15 {
	position: absolute;
	left: 261.8146875px;
	top: 50.165625px;
	width: 2.284311400633291%;
	height: 21.376592493916316%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_3 .Vector_16 {
	position: absolute;
	left: 149.7590625px;
	top: 49.035937499999996px;
	width: 2.956939000404525%;
	height: 27.303985580279804%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_3 .Vector_17 {
	position: absolute;
	left: 95.7328125px;
	top: 77.21578124999999px;
	width: 16.28060092901282%;
	height: 20.657359286492614%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Vector_18 {
	position: absolute;
	left: 312.9759375px;
	top: 59.59359375px;
	width: 25.809673023918478%;
	height: 18.328870305254995%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_5 {
	position: absolute;
	left: 166.670625px;
	top: 0px;
	width: 18.869586830413613%;
	height: 29.283331295523222%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_5 .Vector_19 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 77.101562320769%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_5 .Vector_20 {
	position: absolute;
	left: 6.1499999999999995px;
	top: 34.73953125px;
	width: 83.77847557892014%;
	height: 65.9955493358416%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_5 .Group_6 {
	position: absolute;
	left: 30.440624999999997px;
	top: 73.8178125px;
	width: 36.50166413811758%;
	height: 16.130216338984606%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_5 .Group_6 .Vector_21 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_7 {
	position: absolute;
	left: 270.1471875px;
	top: 200.30531249999999px;
	width: 20.11699592112096%;
	height: 13.58457964456113%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_7 .Vector_22 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_7 .Vector_23 {
	position: absolute;
	left: 46.8px;
	top: 20.56265625px;
	width: 9.50137892995036%;
	height: 39.81207655407745%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Group_7 .Vector_24 {
	position: absolute;
	left: 64.786875px;
	top: 13.5946875px;
	width: 9.50137892995036%;
	height: 39.81207655407745%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Vector_25 {
	position: absolute;
	left: 2.1665625px;
	top: 212.7684375px;
	width: 3.3134789420657147%;
	height: 6.029589002812178%;
}
.Empty9_Empty9 .Illustration .Group .Group_1 .Vector_26 {
	position: absolute;
	left: 0px;
	top: 202.60171875px;
	width: 3.8480828380831484%;
	height: 5.543336159395267%;
}
.Empty9_Empty9 .Illustration .Group .Group_8 {
	position: absolute;
	left: 91.905px;
	top: 29.39484375px;
	width: 17.080239532743853%;
	height: 22.120884486607142%;
}
.Empty9_Empty9 .Illustration .Group .Group_8 .Group_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Empty9_Empty9 .Illustration .Group .Group_8 .Group_9 .Vector_27 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Empty9_Empty9 .Illustration .Group .Group_8 .Group_10 {
	position: absolute;
	left: 26.932499999999997px;
	top: 26.0578125px;
	width: 46.201121610202044%;
	height: 30.33686061671872%;
}
.Empty9_Empty9 .Illustration .Group .Group_8 .Group_10 .Vector_28 {
	position: absolute;
	left: 0px;
	top: 13.8421875px;
	width: 21.2940638510143%;
	height: 40.9718751873988%;
}
.Empty9_Empty9 .Illustration .Group .Group_8 .Group_10 .Vector_29 {
	position: absolute;
	left: 17.70375px;
	top: 6.8765624999999995px;
	width: 21.2940638510143%;
	height: 40.957882743318606%;
}
.Empty9_Empty9 .Illustration .Group .Group_8 .Group_10 .Vector_30 {
	position: absolute;
	left: 35.5003125px;
	top: 0px;
	width: 21.2940638510143%;
	height: 40.9718751873988%;
}