
.Formemail_Formemail {
	width: 327px;
	height: 72px;
}
.Formemail_Formemail .bg {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 22px;
	width: 327px;
	height: 50px;
	background: rgba(255,255,255,1.00);
	border-radius: 12px;
	border: 0.5px solid rgba(184.00000423192978,184.00000423192978,210.00000268220901,1);
	box-sizing: border-box;
}
.Formemail_Formemail .iconcheck {
	position: absolute;
	right: 23.999755859375px;
	top: 37px;
	width: 20px;
	height: 20px;
}
.Formemail_Formemail .iconcheck .VectorStroke {
	position: absolute;
	left: 3.3333740234375px;
	top: 5px;
	width: 70.8331298828125%;
	height: 50%;
}
.Formemail_Formemail .Email {
	position: absolute;
	left: 20.000244140625px;
	top: 37px;
	width: 243px;
	height: 20px;
}
.Formemail_Formemail .Email .Cooper_Kristingmailcom {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 243px;
	height: 20px;
	color: rgba(31,31,57,1.00);
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Formemail_Formemail .title {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 327px;
	height: 21px;
}
.Formemail_Formemail .title .YourEmail {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 327px;
	height: 21px;
	color: rgba(133,133,151,1.00);
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.40625px;
}