
.Home_Home {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
	border-radius: 69.12px;
}
.Home_Home .bg {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 702.72px;
}
.Home_Home .bg .bg_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 702.72px;
}
.Home_Home .Footer {
	position: absolute;
	left: 0px;
	top: 2691.8399999999997px;
	width: 1440px;
	height: 426.24px;
}
.Home_Home .Footer .Footerhome {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 426.24px;
}
.Home_Home .Footer .Footerhome .Union {
	width: 100%;
	height: 100%;
}
.Home_Home .Footer .Footerhome .Search {
	width: 13.866666666666665%;
	height: 61.261261261261254%;
}
.Home_Home .Footer .Footerhome .Search .Scan {
	width: 53.84615384615385%;
	height: 20.588235294117645%;
	font-size: 42.239999999999995px;
	font-weight: 500;
	line-height: 53.76px;
}
.Home_Home .Footer .Footerhome .Search .Ellipse18 {
	width: 100%;
	height: 76.47058823529412%;
	border-radius: 50%;
}
.Home_Home .Footer .Footerhome .Search .iconsearch {
	position: absolute;
	left: 61.44px;
	top: 61.44px;
	width: 38.46153846153847%;
	height: 29.411764705882355%;
}
.Home_Home .Footer .Footerhome .Search .iconsearch .VectorStroke {
	width: 86.8896484375%;
	height: 86.88980102539062%;
}
.Home_Home .Footer .Footerhome .Footeron {
	position: absolute;
	left: 119.03999999999999px;
	top: 57.599999999999994px;
	width: 8.799999999999999%;
	height: 53.153153153153156%;
}
.Home_Home .Footer .Footerhome .Footeron .Rectangle19 {
	width: 78.78787878787878%;
	height: 3.389830508474576%;
}
.Home_Home .Footer .Footerhome .Footeron .Home_1 {
	width: 100%;
	height: 23.728813559322035%;
	font-size: 42.239999999999995px;
	font-weight: 500;
	line-height: 53.76px;
}
.Home_Home .Footer .Footerhome .Footeron .iconfooterhomeon {
	position: absolute;
	left: 15.36px;
	top: 53.76px;
	width: 72.72727272727273%;
	height: 40.67796610169492%;
}
.Home_Home .Footer .Footerhome .Footeron .iconfooterhomeon .Frame28 {
	width: 83.7121875px;
	height: 82.6344140625px;
}
.Home_Home .Footer .Footerhome .Footeron .iconfooterhomeon .home_1_fill {
	width: 75%;
	height: 78.125%;
}
.Home_Home .Footer .Footerhome .Footeroff {
	position: absolute;
	left: 368.64px;
	top: 57.599999999999994px;
	width: 8.799999999999999%;
	height: 53.153153153153156%;
}
.Home_Home .Footer .Footerhome .Footeroff .Rectangle19_1 {
	visibility: hidden;
	width: 78.78787878787878%;
	height: 3.389830508474576%;
}
.Home_Home .Footer .Footerhome .Footeroff .Home_2 {
	width: 154.54545454545453%;
	height: 23.728813559322035%;
	font-size: 42.239999999999995px;
	font-weight: 500;
	line-height: 53.76px;
}
.Home_Home .Footer .Footerhome .Footeroff .iconfootercourseoff {
	position: absolute;
	left: 15.36px;
	top: 53.76px;
	width: 72.72727272727273%;
	height: 40.67796610169492%;
}
.Home_Home .Footer .Footerhome .Footeroff .iconfootercourseoff .Subtract {
	width: 66.66666666666666%;
	height: 83.33333333333334%;
}
.Home_Home .Footer .Footerhome .Footeroff_1 {
	position: absolute;
	left: 940.8px;
	top: 57.599999999999994px;
	width: 8.799999999999999%;
	height: 53.153153153153156%;
}
.Home_Home .Footer .Footerhome .Footeroff_1 .Rectangle19_2 {
	visibility: hidden;
	width: 78.78787878787878%;
	height: 3.389830508474576%;
}
.Home_Home .Footer .Footerhome .Footeroff_1 .Home_3 {
	width: 75.75757575757575%;
	height: 23.728813559322035%;
	font-size: 42.239999999999995px;
	font-weight: 500;
	line-height: 53.76px;
}
.Home_Home .Footer .Footerhome .Footeroff_1 .iconfooternotificationoff {
	position: absolute;
	left: 15.36px;
	top: 53.76px;
	width: 72.72727272727273%;
	height: 40.67796610169492%;
}
.Home_Home .Footer .Footerhome .Footeroff_1 .iconfooternotificationoff .Vector {
	width: 100%;
	height: 100%;
}
.Home_Home .Footer .Footerhome .Footeroff_1 .iconfooternotificationoff .message_1_fill {
	width: 83.33333333333334%;
	height: 74.78968302408853%;
}
.Home_Home .Footer .Footerhome .Footeroff_2 {
	position: absolute;
	left: 1190.3999999999999px;
	top: 57.599999999999994px;
	width: 8.799999999999999%;
	height: 53.153153153153156%;
}
.Home_Home .Footer .Footerhome .Footeroff_2 .Rectangle19_3 {
	visibility: hidden;
	width: 78.78787878787878%;
	height: 3.389830508474576%;
}
.Home_Home .Footer .Footerhome .Footeroff_2 .Home_4 {
	width: 115.15151515151516%;
	height: 23.728813559322035%;
	font-size: 42.239999999999995px;
	font-weight: 500;
	line-height: 53.76px;
}
.Home_Home .Footer .Footerhome .Footeroff_2 .iconfooteraccountoff {
	position: absolute;
	left: 15.36px;
	top: 53.76px;
	width: 72.72727272727273%;
	height: 40.67796610169492%;
}
.Home_Home .Footer .Footerhome .Footeroff_2 .iconfooteraccountoff .Vector_1 {
	width: 100%;
	height: 100%;
}
.Home_Home .Footer .Footerhome .Footeroff_2 .iconfooteraccountoff .user_2_fill {
	width: 75%;
	height: 83.33333333333334%;
}
.Home_Home .Footer .xAppIconsCamera {
	visibility: hidden;
	width: 16%;
	height: 54.054054054054056%;
}
.Home_Home .Footer .xAppIconsCamera .Ellipse18_1 {
	position: absolute;
	left: -2px;
	top: 0px;
	width: 106.66666666666667%;
	height: 106.66666666666667%;
	background: rgba(255,255,255,1.00);
	border-radius: 50%;
}
.Home_Home .Footer .xAppIconsCamera .AppIcon {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 66.66666666666666%;
	height: 66.66666666666666%;
	object-fit: cover;
	overflow: hidden;
}
.Home_Home .ads {
	position: absolute;
	left: 76.8px;
	top: 1839.36px;
	width: 2000.6399999999999px;
	height: 593.87390625px;
	border-radius: 61.44px;
}
.Home_Home .ads .ads_1 {
	position: absolute;
	left: 0px;
	top: 2.51390625px;
	width: 956.16px;
	height: 591.36px;
	border-radius: 61.44px;
}
.Home_Home .ads .ads_1 .bg_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 956.16px;
	height: 591.36px;
	background: rgba(206,236,254,1.00);
	border-radius: 61.44px;
}
.Home_Home .ads .ads_1 .image1 {
	position: absolute;
	left: 26.88px;
	top: 24.366093749999997px;
	width: 802.56px;
	height: 541.4399999999999px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 61.44px;
}
.Home_Home .ads .ads_2 {
	position: absolute;
	left: 1002.24px;
	top: 0px;
	width: 998.4px;
	height: 591.36px;
	border-radius: 61.44px;
}
.Home_Home .ads .ads_2 .bg_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 956.16px;
	height: 591.36px;
	background: rgba(191,228,198,1.00);
	border-radius: 61.44px;
}
.Home_Home .ads .ads_2 .image2 {
	position: absolute;
	left: 19.2px;
	top: 23.04px;
	width: 979.1999999999999px;
	height: 541.4399999999999px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 61.44px;
}
.Home_Home .title {
	position: absolute;
	left: 76.8px;
	top: 230.39999999999998px;
	width: 810.24px;
	height: 218.88px;
}
.Home_Home .title .Hellothere {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 503.03999999999996px;
	height: 138.24px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 92.16px;
	font-weight: 600;
	line-height: 108px;
}
.Home_Home .title .Thisiswhatwehavefortodya {
	position: absolute;
	left: 0px;
	top: 138.24px;
	width: 810.24px;
	height: 80.64px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 53.76px;
	font-weight: 400;
	line-height: 63px;
}
.Home_Home .Status {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 168.95999999999998px;
}
.Home_Home .Status .statusdark {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
	width: 1440px;
	height: 168.95999999999998px;
}
.Home_Home .Status .statusdark .Notch {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
	width: 1440px;
	height: 115.19999999999999px;
}
.Home_Home .Status .statusdark .Notch .Subtract_1 {
	visibility: hidden;
	position: absolute;
	left: 295.68px;
	top: 192%;
	transform: translate(0, -50%);
	width: 168.95999999999998px;
	height: 115.19999999999999px;
}
.Home_Home .Status .statusdark .Notch .Rectangle11 {
	visibility: hidden;
	position: absolute;
	margin-left: 121px;
	margin-right: 121px;
	top: 0px;
	width: 510.71999999999997px;
	height: 100%;
	background: rgba(0,0,0,1.00);
}
.Home_Home .Status .statusdark .Notch .Subtract_2 {
	visibility: hidden;
	position: absolute;
	right: 295.68px;
	top: 192%;
	transform: translate(0, -50%);
	width: 168.95999999999998px;
	height: 115.19999999999999px;
}
.Home_Home .Status .statusdark .StatusIcons {
	position: absolute;
	right: 53.76px;
	top: 61.44px;
	width: 264.96px;
	height: 53.76px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.Home_Home .Status .statusdark .StatusIcons .NetworkSignalDark {
	position: relative;
	flex: none;
	margin-right: 15.36px;
	width: 76.8px;
	height: 53.76px;
}
.Home_Home .Status .statusdark .StatusIcons .NetworkSignalDark .Path {
	position: absolute;
	left: 42.239999999999995px;
	top: 15.36px;
	width: 15%;
	height: 57.14285714285714%;
}
.Home_Home .Status .statusdark .StatusIcons .NetworkSignalDark .Path_1 {
	position: absolute;
	left: 24.96px;
	top: 23.04px;
	width: 15%;
	height: 42.857142857142854%;
}
.Home_Home .Status .statusdark .StatusIcons .NetworkSignalDark .Path_2 {
	position: absolute;
	left: 7.68px;
	top: 28.799999999999997px;
	width: 15%;
	height: 32.142857142857146%;
}
.Home_Home .Status .statusdark .StatusIcons .NetworkSignalDark .EmptyBar {
	position: absolute;
	left: 59.519999999999996px;
	top: 7.68px;
	width: 15%;
	height: 71.42857142857143%;
}
.Home_Home .Status .statusdark .StatusIcons .NetworkSignalDark .Path_3 {
	position: absolute;
	left: 42.239999999999995px;
	top: 15.36px;
	width: 15%;
	height: 57.14285714285714%;
}
.Home_Home .Status .statusdark .StatusIcons .NetworkSignalDark .Path_4 {
	position: absolute;
	left: 24.96px;
	top: 23.04px;
	width: 15%;
	height: 42.857142857142854%;
}
.Home_Home .Status .statusdark .StatusIcons .NetworkSignalDark .Path_5 {
	position: absolute;
	left: 7.68px;
	top: 28.799999999999997px;
	width: 15%;
	height: 32.142857142857146%;
}
.Home_Home .Status .statusdark .StatusIcons .NetworkSignalDark .EmptyBar_1 {
	visibility: hidden;
	position: absolute;
	left: 59.519999999999996px;
	top: 7.68px;
	width: 15%;
	height: 71.42857142857143%;
}
.Home_Home .Status .statusdark .StatusIcons .WiFiSignalDark {
	position: relative;
	flex: none;
	margin-right: 15.36px;
	width: 61.44px;
	height: 53.76px;
}
.Home_Home .Status .statusdark .StatusIcons .WiFiSignalDark .Path_6 {
	position: absolute;
	left: 22.802812499999998px;
	top: 34.32796875px;
	width: 27.32391357421875%;
	height: 21.86006818498884%;
}
.Home_Home .Status .statusdark .StatusIcons .WiFiSignalDark .Path_7 {
	position: absolute;
	left: 13.305px;
	top: 21.00421875px;
	width: 58.2489013671875%;
	height: 23.673139299665177%;
}
.Home_Home .Status .statusdark .StatusIcons .WiFiSignalDark .Path_8 {
	position: absolute;
	left: 3.84px;
	top: 7.68px;
	width: 89.0625%;
	height: 30.875723702566965%;
}
.Home_Home .Status .statusdark .StatusIcons .BatteryDark {
	position: relative;
	flex: none;
	margin-right: 15.36px;
	width: 96px;
	height: 46.08px;
}
.Home_Home .Status .statusdark .StatusIcons .BatteryDark ._ {
	visibility: hidden;
	position: absolute;
	left: 30.72px;
	top: 0px;
	width: 30.72px;
	height: 46.08px;
}
.Home_Home .Status .statusdark .StatusIcons .BatteryDark .Subtract_3 {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 88.32px;
	height: 46.08px;
}
.Home_Home .Status .statusdark .StatusIcons .BatteryDark .Rectangle23 {
	position: absolute;
	left: 92.16px;
	top: 15.36px;
	width: 3.84px;
	height: 15.36px;
}
.Home_Home .Status .statusdark .StatusIcons .BatteryDark .Battery {
	visibility: hidden;
	position: absolute;
	left: 7.68px;
	top: 7.68px;
	width: 72.9609375px;
	height: 30.72px;
}
.Home_Home .Status .statusdark .StatusIcons .BatteryDark .Battery ._100 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72.9609375px;
	height: 30.72px;
}
.Home_Home .Status .statusdark .StatusIcons .BatteryDark .Battery ._50 {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32.4515625px;
	height: 30.72px;
}
.Home_Home .Status .statusdark .StatusIcons .BatteryDark .Battery ._10 {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 11.52px;
	height: 30.72px;
}
.Home_Home .Status .statusdark .StatusIcons .BatteryDark .Rectangle21Stroke {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 88.32px;
	height: 46.08px;
}
.Home_Home .Status .statusdark .StatusIcons .BatteryDark .Rectangle20 {
	position: absolute;
	left: 7.68px;
	top: 192%;
	transform: translate(0, -50%);
	width: 72.96px;
	height: 30.72px;
	background: rgba(255,255,255,1.00);
	border-radius: 3.84px;
}
.Home_Home .Status .statusdark .Indicator {
	position: absolute;
	right: 272.64px;
	top: 30.72px;
	width: 23.04px;
	height: 23.04px;
}
.Home_Home .Status .statusdark .Indicator .Indicator_1 {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(52,199,89,1.00);
	border-radius: 50%;
}
.Home_Home .Status .statusdark .TimeDark {
	position: absolute;
	left: 80.64px;
	top: 46.08px;
	width: 207.35999999999999px;
	height: 80.64px;
	border-radius: 76.8px;
}
.Home_Home .Status .statusdark .TimeDark ._941 {
	position: absolute;
	left: 195.55555555555557%;
	top: 192%;
	transform: translate(-50%, -50%);
	width: 126.72px;
	height: 57.599999999999994px;
}
.Home_Home .Status .statusdark .TimeDark ._941 ._941_1 {
	position: absolute;
	left: 188.6619318181818%;
	top: 193.1375%;
	transform: translate(-50%, -50%);
	width: 109.156875px;
	height: 42.58125px;
}
.Home_Home .Avatar {
	position: absolute;
	left: 1221.12px;
	top: 195.37546874999998px;
	width: 138.24px;
	height: 138.24px;
}
.Home_Home .Avatar .Ellipse212 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 138.24px;
	height: 138.24px;
	background: rgba(234,234,255,1.00);
	border-radius: 50%;
}
.Home_Home .Avatar .MaskGroup {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 138.24px;
	height: 138.24px;
}
.Home_Home .Avatar .MaskGroup .Avatar_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 138.24px;
	height: 138.24px;
}
.Home_Home .Avatar .MaskGroup .Avatar_1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Home_Home .Avatar .MaskGroup .Vector_3 {
	position: absolute;
	left: 77.56875px;
	top: 53.117109375px;
	width: 5.405680338541666%;
	height: 0.9381612141927084%;
}
.Home_Home .Avatar .MaskGroup .Vector_4 {
	position: absolute;
	left: 58.099687499999995px;
	top: 53.117109375px;
	width: 5.405680338541666%;
	height: 0.9381612141927084%;
}
.Home_Home .Avatar .MaskGroup .Group {
	position: absolute;
	left: 0px;
	top: 105.5164453125px;
	width: 100%;
	height: 62.487453884548614%;
}
.Home_Home .Avatar .MaskGroup .Group .Vector_5 {
	position: absolute;
	left: 103.8253125px;
	top: 49.226367187499996px;
	width: 24.894205729166664%;
	height: 31.26821247754812%;
}
.Home_Home .Avatar .MaskGroup .Group .Vector_6 {
	position: absolute;
	left: 0px;
	top: 48.506601562499995px;
	width: 25.290934244791668%;
	height: 32.69672188970225%;
}
.Home_Home .Avatar .MaskGroup .Group .Vector_7 {
	position: absolute;
	left: 103.8253125px;
	top: 49.226367187499996px;
	width: 24.84469943576389%;
	height: 12.856449048474358%;
}
.Home_Home .Avatar .MaskGroup .Group .Vector_8 {
	position: absolute;
	left: 0.44437499999999996px;
	top: 47.513203125px;
	width: 25.19192165798611%;
	height: 14.165916009615644%;
}
.Home_Home .Avatar .MaskGroup .Group .Vector_9 {
	position: absolute;
	left: 0.0365625px;
	top: 0.00029296875px;
	width: 99.32996961805556%;
	height: 100%;
}
.Home_Home .Avatar .MaskGroup .Group .Vector_10 {
	position: absolute;
	left: 16.48875px;
	top: 31.505097656249998px;
	width: 10.439046223958332%;
	height: 26.625624718503605%;
}
.Home_Home .Avatar .MaskGroup .Group .Vector_11 {
	position: absolute;
	left: 103.8253125px;
	top: 28.62638671875px;
	width: 11.777750651041668%;
	height: 32.974487608732225%;
}
.Home_Home .Avatar .MaskGroup .Group .Vector_12 {
	position: absolute;
	left: 24.3646875px;
	top: 28.7567578125px;
	width: 5.439588758680555%;
	height: 30.204427429551288%;
}
.Home_Home .Avatar .MaskGroup .Group .Vector_13 {
	position: absolute;
	left: 103.3575px;
	top: 28.1935546875px;
	width: 6.849500868055555%;
	height: 33.7532490788624%;
}
.Home_Home .Avatar .MaskGroup .Vector_14 {
	position: absolute;
	left: 32.66625px;
	top: 10.568671875px;
	width: 51.267496744791664%;
	height: 39.824888441297745%;
}
.Home_Home .Avatar .MaskGroup .Group_1 {
	position: absolute;
	left: 30.916874999999997px;
	top: 37.2571875px;
	width: 55.271402994791664%;
	height: 55.3062015109592%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Vector_15 {
	visibility: hidden;
	position: absolute;
	left: 2.540625px;
	top: -27.7123828125px;
	width: 91.27986159679023%;
	height: 78.77121816747993%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Group_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Group_2 .Vector_16 {
	position: absolute;
	left: 0px;
	top: 17.2311328125px;
	width: 23.037754137986035%;
	height: 26.008689207924057%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Group_2 .Group_3 {
	position: absolute;
	left: 6.9712499999999995px;
	top: -0.00005859375px;
	width: 90.87618556827523%;
	height: 100%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Group_2 .Group_3 .Vector_17 {
	position: absolute;
	left: 51.833437499999995px;
	top: 17.19498046875px;
	width: 25.350705461419025%;
	height: 26.05597480758133%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Group_2 .Group_3 .Vector_18 {
	position: absolute;
	left: 54.849374999999995px;
	top: 22.9651171875px;
	width: 13.70012826571255%;
	height: 14.190278172675974%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Group_2 .Group_3 .Vector_19 {
	position: absolute;
	left: 0px;
	top: 22.97783203125px;
	width: 13.68392628096942%;
	height: 14.174030932599244%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Group_2 .Group_3 .Vector_20 {
	position: absolute;
	left: 8.3353125px;
	top: -0.00005859375px;
	width: 69.61722811044353%;
	height: 100%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Group_2 .Group_3 .Vector_21 {
	position: absolute;
	left: 20.675625px;
	top: 20.4123046875px;
	width: 7.305744953756835%;
	height: 7.89056410877374%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Group_2 .Group_3 .Vector_22 {
	position: absolute;
	left: 39.1509375px;
	top: 20.4123046875px;
	width: 7.305744953756835%;
	height: 7.89056410877374%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Group_2 .Group_3 .Vector_23 {
	position: absolute;
	left: 30.253124999999997px;
	top: 18.56162109375px;
	width: 4.8160399648957%;
	height: 13.192069200980658%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Group_2 .Group_3 .Vector_24 {
	position: absolute;
	left: 18.7903125px;
	top: 52.7016796875px;
	width: 31.79099439681361%;
	height: 18.560785753316313%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Group_2 .Group_3 .Group_4 {
	position: absolute;
	left: 12.0375px;
	top: 27.027890624999998px;
	width: 57.2119084587862%;
	height: 8.966560574232643%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Group_2 .Group_3 .Group_4 .Vector_25 {
	position: absolute;
	left: 28.8253125px;
	top: 0px;
	width: 27.43899561051588%;
	height: 100%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Group_2 .Group_3 .Group_4 .Vector_26 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 27.43899561051588%;
	height: 100%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Vector_27 {
	position: absolute;
	left: 35.214375px;
	top: 32.1198046875px;
	width: 12.210893117875854%;
	height: 6.761227647591232%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Vector_28 {
	position: absolute;
	left: 16.4025px;
	top: 36.385546874999996px;
	width: 59.62012736040049%;
	height: 26.25025194717808%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Vector_29 {
	position: absolute;
	left: 31.401562499999997px;
	top: 41.102109375px;
	width: 2.9067128010699257%;
	height: 3.783920903530479%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Vector_30 {
	position: absolute;
	left: 24.2146875px;
	top: 40.46033203125px;
	width: 3.7803217138440015%;
	height: 2.8749951143322883%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Vector_31 {
	position: absolute;
	left: 38.956875px;
	top: 42.1447265625px;
	width: 1.077287395246684%;
	height: 3.317655768498288%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Vector_32 {
	position: absolute;
	left: 44.7496875px;
	top: 41.081015625px;
	width: 2.0208341001950894%;
	height: 3.363408609657758%;
}
.Home_Home .Avatar .MaskGroup .Group_1 .Vector_33 {
	position: absolute;
	left: 50.597812499999996px;
	top: 40.7258203125px;
	width: 4.251481576913166%;
	height: 2.9310940753519406%;
}
.Home_Home .Avatar .MaskGroup .Group_5 {
	position: absolute;
	left: 1.2px;
	top: 120.9657421875px;
	width: 97.58436414930556%;
	height: 42.72176954481337%;
}
.Home_Home .Avatar .MaskGroup .Group_5 .Group_6 {
	position: absolute;
	left: 16.531875px;
	top: 0.00005859375px;
	width: 73.73274771706951%;
	height: 99.99970236116886%;
}
.Home_Home .Avatar .MaskGroup .Group_5 .Group_6 .Vector_34 {
	position: absolute;
	left: 31.209374999999998px;
	top: 6.9527343749999995px;
	width: 7.351763009321659%;
	height: 7.931800819501354%;
}
.Home_Home .Avatar .MaskGroup .Group_5 .Group_6 .Vector_35 {
	position: absolute;
	left: 27.0346875px;
	top: 23.538808593749998px;
	width: 4.03781445281205%;
	height: 15.718849523280387%;
}
.Home_Home .Avatar .MaskGroup .Group_5 .Group_6 .Vector_36 {
	position: absolute;
	left: 0px;
	top: 10.931835937499999px;
	width: 7.466752123057202%;
	height: 14.949550067961068%;
}
.Home_Home .Avatar .MaskGroup .Group_5 .Group_6 .Vector_37 {
	position: absolute;
	left: 16.9228125px;
	top: 51.2567578125px;
	width: 10.209525245765667%;
	height: 6.361056819421984%;
}
.Home_Home .Avatar .MaskGroup .Group_5 .Group_6 .Vector_38 {
	position: absolute;
	left: 52.709062499999995px;
	top: 42.7838671875px;
	width: 4.286643354666013%;
	height: 16.311152560197634%;
}
.Home_Home .Avatar .MaskGroup .Group_5 .Group_6 .Vector_39 {
	position: absolute;
	left: 78.23625px;
	top: 50.264589843749995px;
	width: 5.745685551900619%;
	height: 14.890518190747374%;
}
.Home_Home .Avatar .MaskGroup .Group_5 .Group_6 .Vector_40 {
	position: absolute;
	left: 66.0525px;
	top: 0.00029296875px;
	width: 3.063234587217358%;
	height: 15.70168563293086%;
}
.Home_Home .Avatar .MaskGroup .Group_5 .Group_6 .Vector_41 {
	position: absolute;
	left: 62.615624999999994px;
	top: 23.58134765625px;
	width: 12.497054582127676%;
	height: 10.350818013155676%;
}
.Home_Home .Avatar .MaskGroup .Group_5 .Group_6 .Vector_42 {
	position: absolute;
	left: 94.04249999999999px;
	top: 13.734140625px;
	width: 5.451615031527752%;
	height: 11.604476501344339%;
}
.Home_Home .Avatar .MaskGroup .Group_5 .Vector_43 {
	position: absolute;
	left: 109.87593749999999px;
	top: 34.66201171875px;
	width: 18.550460755834155%;
	height: 4.98465671825409%;
}
.Home_Home .Avatar .MaskGroup .Group_5 .Vector_44 {
	position: absolute;
	left: 0px;
	top: 33.27708984375px;
	width: 18.346838645113763%;
	height: 1.4803563332086556%;
}
.Home_Home .Avatar .MaskGroup .image3 {
	position: absolute;
	left: -80.64px;
	top: -41.77546875px;
	width: 295.68px;
	height: 222.72px;
	object-fit: cover;
	overflow: hidden;
}
.Home_Home .learningplan {
	position: absolute;
	left: 0px;
	top: 549.12px;
	width: 1440px;
	height: 1067.52px;
}
.Home_Home .learningplan .bg_4 {
	position: absolute;
	left: 99.84px;
	top: 237.22658203125px;
	width: 1240.32px;
	height: 830.293359375px;
	border-radius: 46.08px;
}
.Home_Home .learningplan .bg_4 .Rectangle29 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1240.32px;
	height: 830.293359375px;
	background: rgba(255,255,255,1.00);
	border-radius: 46.08px;
}
.Home_Home .learningplan .Title {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 196.3255078125px;
}
.Home_Home .learningplan .Title .Rectangle26 {
	width: 1440px;
	height: 184.32px;
	border-radius: 38.4px;
}
.Home_Home .learningplan .Title .Todayfact {
	width: 372.47999999999996px;
	height: 76.8px;
	color: rgba(31,31,57,1.00);
	font-size: 69.12px;
	font-weight: 500;
	line-height: 76.8px;
}
.Home_Home .learningplan .Title .Seeall {
	width: 176.64px;
	height: 76.8px;
	color: rgba(61,92,255,1.00);
	font-size: 53.76px;
	font-weight: 400;
	line-height: 76.8px;
}
.Home_Home .learningplan .Seemore {
	position: absolute;
	right: 195.84px;
	top: 944.64px;
	width: 257.28px;
	height: 76.8px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(61,92,255,1.00);
	font-family: Poppins;
	font-size: 53.76px;
	font-weight: 400;
	line-height: 76.8px;
}
.Home_Home .factum {
	position: absolute;
	left: 176.64px;
	top: 837.12px;
	width: 1086.72px;
	height: 614.4px;
	color: rgba(31,31,57,1.00);
	font-family: Nova Oval;
	font-size: 61.44px;
	font-weight: 400;
	line-height: 76.8px;
}