
.iconfooternotificationoff_iconfooternotificationoff {
	width: 24px;
	height: 24px;
}
.iconfooternotificationoff_iconfooternotificationoff .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.iconfooternotificationoff_iconfooternotificationoff .message_1_fill {
	position: absolute;
	left: 2px;
	top: 3px;
	width: 83.33333333333334%;
	height: 74.78968302408853%;
}