
.iconfooterhomeoff_iconfooterhomeoff {
	width: 24px;
	height: 24px;
}
.iconfooterhomeoff_iconfooterhomeoff .iconfooterhomeon {
	position: absolute;
	left: 1.0999755859375px;
	top: 1.24029541015625px;
	width: 21.800048828125px;
	height: 21.51934814453125px;
}
.iconfooterhomeoff_iconfooterhomeoff .iconfooterhomeon .Frame28 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 21.800048828125px;
	height: 21.51934814453125px;
}
.iconfooterhomeoff_iconfooterhomeoff .home_1_fill {
	position: absolute;
	left: 3px;
	top: 3.095947265625px;
	width: 75%;
	height: 78.125%;
}