
.iconfootercourseoff_iconfootercourseoff {
	width: 24px;
	height: 24px;
}
.iconfootercourseoff_iconfootercourseoff .Subtract {
	position: absolute;
	left: 4px;
	top: 2.470947265625px;
	width: 66.66666666666666%;
	height: 83.33333333333334%;
}