
.iconfooterhomeon_iconfooterhomeon {
	width: 24px;
	height: 24px;
}
.iconfooterhomeon_iconfooterhomeon .Frame28 {
	position: absolute;
	left: 1.0999755859375px;
	top: 1.2403564453125px;
	width: 21.800048828125px;
	height: 21.51934814453125px;
}
.iconfooterhomeon_iconfooterhomeon .home_1_fill {
	position: absolute;
	left: 3px;
	top: 2.62506103515625px;
	width: 75%;
	height: 78.125%;
}