
.iconclose_iconclose {
	width: 24px;
	height: 24px;
}
.iconclose_iconclose .VectorStroke {
	position: absolute;
	left: 5.2928466796875px;
	top: 5.29290771484375px;
	width: 55.892435709635414%;
	height: 55.892435709635414%;
}