
.iconfooteraccountoff_iconfooteraccountoff {
	width: 24px;
	height: 24px;
}
.iconfooteraccountoff_iconfooteraccountoff .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.iconfooteraccountoff_iconfooteraccountoff .user_2_fill {
	position: absolute;
	left: 3px;
	top: 2px;
	width: 75%;
	height: 83.33333333333334%;
}