
.iconarrowdown_iconarrowdown {
	width: 24px;
	height: 24px;
}
.iconarrowdown_iconarrowdown .VectorStroke {
	visibility: hidden;
	position: absolute;
	left: 1.0001220703125px;
	top: 2px;
	width: 91.6656494140625%;
	height: 83.33333333333334%;
}
.iconarrowdown_iconarrowdown .Vector3 {
	position: absolute;
	left: 4.800048828125px;
	top: 8.39996337890625px;
	width: 60.000101725260414%;
	height: 30.000050862630207%;
}