
.iconFavoritesoff_iconFavoritesoff {
	width: 24px;
	height: 24px;
}
.iconFavoritesoff_iconFavoritesoff .VectorStroke {
	position: absolute;
	left: 1px;
	top: 1.5px;
	width: 91.66666666666666%;
	height: 87.5%;
}