
.iconarrowright_iconarrowright {
	width: 24px;
	height: 24px;
}
.iconarrowright_iconarrowright .VectorStroke {
	visibility: hidden;
	position: absolute;
	left: 1.0001220703125px;
	top: 2px;
	width: 91.6656494140625%;
	height: 83.33333333333334%;
}
.iconarrowright_iconarrowright .Vector3 {
	position: absolute;
	left: 8.4000244140625px;
	top: 4.79998779296875px;
	width: 29.999796549479168%;
	height: 60.000101725260414%;
}