
.iconpreviewcloseone_iconpreviewcloseone {
	width: 24px;
	height: 24px;
}
.iconpreviewcloseone_iconpreviewcloseone .VectorStroke {
	position: absolute;
	left: 1.0001220703125px;
	top: 2px;
	width: 91.6656494140625%;
	height: 83.33333333333334%;
}