
.iconfooternotificationon_iconfooternotificationon {
	width: 24px;
	height: 24px;
}
.iconfooternotificationon_iconfooternotificationon .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.iconfooternotificationon_iconfooternotificationon .message_1_fill {
	position: absolute;
	left: 2px;
	top: 2.529052734375px;
	width: 83.33333333333334%;
	height: 74.78968302408853%;
}