
.iconcheck_iconcheck {
	width: 24px;
	height: 24px;
}
.iconcheck_iconcheck .iconcheck_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.iconcheck_iconcheck .iconcheck_1 .VectorStroke {
	position: absolute;
	left: 4px;
	top: 6px;
	width: 70.83333333333334%;
	height: 50%;
}