
.iconfootercourseon_iconfootercourseon {
	width: 24px;
	height: 24px;
}
.iconfootercourseon_iconfootercourseon .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.iconfootercourseon_iconfootercourseon .Subtract {
	position: absolute;
	left: 4px;
	top: 2px;
	width: 66.66666666666666%;
	height: 83.33333333333334%;
}