
.Initialscreen_Initialscreen {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
	border-radius: 69.12px;
}
.Initialscreen_Initialscreen .Button {
	position: absolute;
	left: 76.8px;
	top: 1562.8799999999999px;
	width: 1286.3999999999999px;
	height: 192px;
	border-radius: 46.08px;
}
.Initialscreen_Initialscreen .Button .buttonprimary {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 1286.3999999999999px;
	height: 192px;
	border-radius: 46.08px;
}
.Initialscreen_Initialscreen .Button .buttonprimary .Frame10 {
	width: 529.92px;
	height: 168.95999999999998px;
}
.Initialscreen_Initialscreen .Button .buttonprimary .Frame10 .Button_1 {
	width: 100%;
	font-size: 61.44px;
	font-weight: 500;
	line-height: 72px;
}
.Initialscreen_Initialscreen .Text {
	position: absolute;
	left: 395.52px;
	top: 1367.04px;
	width: 648.9599999999999px;
	height: 72.96px;
}
.Initialscreen_Initialscreen .Text .Welcometotheapp {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 648.9599999999999px;
	height: 72.96px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(31,31,57,1.00);
	font-family: Poppins;
	font-size: 61.44px;
	font-weight: 500;
	line-height: 73.72800292968749px;
}
.Initialscreen_Initialscreen .Icon {
	position: absolute;
	left: 451.2px;
	top: 768px;
	width: 537.6px;
	height: 537.6px;
}
.Initialscreen_Initialscreen .Icon .Frame29 {
	position: absolute;
	left: 192%;
	top: 192%;
	transform: translate(-50%, -50%);
	width: 537.6px;
	height: 537.6px;
}
.Initialscreen_Initialscreen .Icon .Frame29 .Rectangle84 {
	position: absolute;
	left: 139.8328125px;
	top: 134.31498046875px;
	width: 257.9353125px;
	height: 257.935078125px;
	background: rgba(61,92,255,1.00);
	border-radius: 153.6px;
}
.Initialscreen_Initialscreen .Icon .Frame29 .Vector7 {
	position: absolute;
	left: 212.1834375px;
	top: 225.60638671875px;
	width: 113.233125px;
	height: 76.0059375px;
}
.Initialscreen_Initialscreen .Icon .Frame29 .Vector11 {
	position: absolute;
	left: 399.7321875px;
	top: 411.80326171875px;
	width: 37.68234375px;
	height: 48.76564453125px;
}
.Initialscreen_Initialscreen .Icon .Frame29 .Vector10 {
	position: absolute;
	left: 0px;
	top: 310.22513671875px;
	width: 118.95890625px;
	height: 65.434306640625px;
}
.Initialscreen_Initialscreen .Icon .Frame29 .Vector9 {
	position: absolute;
	left: 360.2025px;
	top: 62.16263671875px;
	width: 79.05984375px;
	height: 75.571552734375px;
}
.Initialscreen_Initialscreen .Icon .Frame29 .Ellipse77 {
	position: absolute;
	left: 59.4796875px;
	top: 178.52373046875px;
	width: 35.465624999999996px;
	height: 35.46567626953125px;
	background: rgba(249,154,61,1.00);
	border-radius: 50%;
}
.Initialscreen_Initialscreen .Icon .Frame29 .Ellipse78 {
	position: absolute;
	left: 169.66593749999998px;
	top: 42.36544921875px;
	width: 29.553749999999997px;
	height: 29.5539697265625px;
	background: rgba(255,231,238,1.00);
	border-radius: 50%;
}
.Initialscreen_Initialscreen .Icon .Frame29 .Ellipse79 {
	position: absolute;
	left: 220.6978125px;
	top: 76.35357421875px;
	width: 17.634843749999998px;
	height: 17.6347412109375px;
	background: rgba(255,231,238,1.00);
	border-radius: 50%;
}
.Initialscreen_Initialscreen .Icon .Frame29 .Ellipse80 {
	position: absolute;
	left: 449.2359375px;
	top: 236.62857421875px;
	width: 31.77140625px;
	height: 31.7712744140625px;
	background: rgba(239,224,255,1.00);
	border-radius: 50%;
}
.Initialscreen_Initialscreen .Icon .Frame29 .Ellipse81 {
	position: absolute;
	left: 118.9584375px;
	top: 416.91357421875px;
	width: 31.77140625px;
	height: 31.7712744140625px;
	background: rgba(255,231,238,1.00);
	border-radius: 50%;
}
.Initialscreen_Initialscreen .Icon .Frame29 .Ellipse82 {
	position: absolute;
	left: 316.978125px;
	top: 463.46326171875px;
	width: 31.77140625px;
	height: 31.7712744140625px;
	background: rgba(249,210,221,1.00);
	border-radius: 50%;
}
.Initialscreen_Initialscreen .Icon .Frame29 .Ellipse83 {
	position: absolute;
	left: 274.9096875px;
	top: 454.64513671875px;
	width: 17.634843749999998px;
	height: 17.63501953125px;
	background: rgba(61,92,255,1.00);
	border-radius: 50%;
}