
.Message5_Message5 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
	border-radius: 69.12px;
}
.Message5_Message5 .Cells {
	position: absolute;
	left: 76.8px;
	top: 633.6px;
	width: 1286.3999999999999px;
	height: 1413.12px;
}
.Message5_Message5 .Cells .list {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1286.3999999999999px;
	height: 1413.12px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Message5_Message5 .Cells .list .Cell {
	position: relative;
	flex: none;
	margin-bottom: 61.44px;
	width: 1286.3999999999999px;
	height: 307.2px;
}
.Message5_Message5 .Cells .list .Cell .Rectangle71 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,1.00);
	border-radius: 46.08px;
}
.Message5_Message5 .Cells .list .Cell .icon {
	position: absolute;
	left: 76.8px;
	top: 61.44px;
	width: 14.328358208955224%;
	height: 60%;
}
.Message5_Message5 .Cells .list .Cell .icon .avatar_en {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,235,240,1.00);
	border-radius: 46.08px;
}
.Message5_Message5 .Cells .list .Cell .icon .iconbankcard {
	position: absolute;
	left: 53.76px;
	top: 53.76px;
	width: 41.66666666666667%;
	height: 41.66666666666667%;
}
.Message5_Message5 .Cells .list .Cell .icon .iconbankcard .Subtract {
	width: 91.6668701171875%;
	height: 75%;
}
.Message5_Message5 .Cells .list .Cell .text {
	position: absolute;
	left: 322.56px;
	top: 76.8px;
	width: 68.95522388059702%;
	height: 22.5%;
	color: rgba(31,31,57,1.00);
	font-family: Poppins;
	font-size: 46.08px;
	font-weight: 400;
	line-height: 54px;
}
.Message5_Message5 .Cells .list .Cell .text_1 {
	position: absolute;
	left: 384px;
	top: 168.95999999999998px;
	width: 64.17910447761194%;
	height: 22.5%;
	color: rgba(184,184,210,1.00);
	font-family: Poppins;
	font-size: 46.08px;
	font-weight: 400;
	line-height: 54px;
}
.Message5_Message5 .Cells .list .Cell .icontime {
	position: absolute;
	left: 322.56px;
	top: 180.48px;
	width: 3.582089552238806%;
	height: 15%;
}
.Message5_Message5 .Cells .list .Cell .icontime .Subtract_1 {
	width: 91.66666666666666%;
	height: 91.66666666666666%;
}
.Message5_Message5 .Cells .list .Cell_1 {
	position: relative;
	flex: none;
	margin-bottom: 61.44px;
	width: 1286.3999999999999px;
	height: 307.2px;
}
.Message5_Message5 .Cells .list .Cell_1 .Rectangle71_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,1.00);
	border-radius: 46.08px;
}
.Message5_Message5 .Cells .list .Cell_1 .icon_1 {
	position: absolute;
	left: 76.8px;
	top: 61.44px;
	width: 14.328358208955224%;
	height: 60%;
}
.Message5_Message5 .Cells .list .Cell_1 .icon_1 .avatar_en_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(234,234,255,1.00);
	border-radius: 46.08px;
}
.Message5_Message5 .Cells .list .Cell_1 .icon_1 .iconmessage {
	position: absolute;
	left: 53.76px;
	top: 53.76px;
	width: 41.66666666666667%;
	height: 41.66666666666667%;
}
.Message5_Message5 .Cells .list .Cell_1 .icon_1 .iconmessage .Subtract_2 {
	width: 91.6668701171875%;
	height: 91.6668701171875%;
}
.Message5_Message5 .Cells .list .Cell_1 .text_2 {
	position: absolute;
	left: 322.56px;
	top: 76.8px;
	width: 68.95522388059702%;
	height: 22.5%;
	color: rgba(31,31,57,1.00);
	font-family: Poppins;
	font-size: 46.08px;
	font-weight: 400;
	line-height: 54px;
}
.Message5_Message5 .Cells .list .Cell_1 .text_3 {
	position: absolute;
	left: 384px;
	top: 168.95999999999998px;
	width: 64.17910447761194%;
	height: 22.5%;
	color: rgba(184,184,210,1.00);
	font-family: Poppins;
	font-size: 46.08px;
	font-weight: 400;
	line-height: 54px;
}
.Message5_Message5 .Cells .list .Cell_1 .icontime_1 {
	position: absolute;
	left: 322.56px;
	top: 180.48px;
	width: 3.582089552238806%;
	height: 15%;
}
.Message5_Message5 .Cells .list .Cell_1 .icontime_1 .Subtract_3 {
	width: 91.66666666666666%;
	height: 91.66666666666666%;
}
.Message5_Message5 .Cells .list .Cell_2 {
	position: relative;
	flex: none;
	margin-bottom: 61.44px;
	width: 1286.3999999999999px;
	height: 307.2px;
}
.Message5_Message5 .Cells .list .Cell_2 .Rectangle71_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,1.00);
	border-radius: 46.08px;
}
.Message5_Message5 .Cells .list .Cell_2 .icon_2 {
	position: absolute;
	left: 76.8px;
	top: 61.44px;
	width: 14.328358208955224%;
	height: 60%;
}
.Message5_Message5 .Cells .list .Cell_2 .icon_2 .avatar_en_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(234,234,255,1.00);
	border-radius: 46.08px;
}
.Message5_Message5 .Cells .list .Cell_2 .icon_2 .iconmessage_1 {
	position: absolute;
	left: 53.76px;
	top: 53.76px;
	width: 41.66666666666667%;
	height: 41.66666666666667%;
}
.Message5_Message5 .Cells .list .Cell_2 .icon_2 .iconmessage_1 .Subtract_4 {
	width: 91.6668701171875%;
	height: 91.6668701171875%;
}
.Message5_Message5 .Cells .list .Cell_2 .text_4 {
	position: absolute;
	left: 322.56px;
	top: 76.8px;
	width: 68.95522388059702%;
	height: 22.5%;
	color: rgba(31,31,57,1.00);
	font-family: Poppins;
	font-size: 46.08px;
	font-weight: 400;
	line-height: 54px;
}
.Message5_Message5 .Cells .list .Cell_2 .text_5 {
	position: absolute;
	left: 384px;
	top: 168.95999999999998px;
	width: 64.17910447761194%;
	height: 22.5%;
	color: rgba(184,184,210,1.00);
	font-family: Poppins;
	font-size: 46.08px;
	font-weight: 400;
	line-height: 54px;
}
.Message5_Message5 .Cells .list .Cell_2 .icontime_2 {
	position: absolute;
	left: 322.56px;
	top: 180.48px;
	width: 3.582089552238806%;
	height: 15%;
}
.Message5_Message5 .Cells .list .Cell_2 .icontime_2 .Subtract_5 {
	width: 91.66666666666666%;
	height: 91.66666666666666%;
}
.Message5_Message5 .Cells .list .Cell_3 {
	position: relative;
	flex: none;
	margin-bottom: 61.44px;
	width: 1286.3999999999999px;
	height: 307.2px;
}
.Message5_Message5 .Cells .list .Cell_3 .Rectangle71_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,1.00);
	border-radius: 46.08px;
}
.Message5_Message5 .Cells .list .Cell_3 .icon_3 {
	position: absolute;
	left: 76.8px;
	top: 61.44px;
	width: 14.328358208955224%;
	height: 60%;
}
.Message5_Message5 .Cells .list .Cell_3 .icon_3 .avatar_en_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(234,234,255,1.00);
	border-radius: 46.08px;
}
.Message5_Message5 .Cells .list .Cell_3 .icon_3 .iconmessage_2 {
	position: absolute;
	left: 53.76px;
	top: 53.76px;
	width: 41.66666666666667%;
	height: 41.66666666666667%;
}
.Message5_Message5 .Cells .list .Cell_3 .icon_3 .iconmessage_2 .Subtract_6 {
	width: 91.6668701171875%;
	height: 91.6668701171875%;
}
.Message5_Message5 .Cells .list .Cell_3 .text_6 {
	position: absolute;
	left: 322.56px;
	top: 76.8px;
	width: 68.95522388059702%;
	height: 22.5%;
	color: rgba(31,31,57,1.00);
	font-family: Poppins;
	font-size: 46.08px;
	font-weight: 400;
	line-height: 54px;
}
.Message5_Message5 .Cells .list .Cell_3 .text_7 {
	position: absolute;
	left: 384px;
	top: 168.95999999999998px;
	width: 64.17910447761194%;
	height: 22.5%;
	color: rgba(184,184,210,1.00);
	font-family: Poppins;
	font-size: 46.08px;
	font-weight: 400;
	line-height: 54px;
}
.Message5_Message5 .Cells .list .Cell_3 .icontime_3 {
	position: absolute;
	left: 322.56px;
	top: 180.48px;
	width: 3.582089552238806%;
	height: 15%;
}
.Message5_Message5 .Cells .list .Cell_3 .icontime_3 .Subtract_7 {
	width: 91.66666666666666%;
	height: 91.66666666666666%;
}
.Message5_Message5 .Tab {
	position: absolute;
	left: 288px;
	top: 430.08px;
	width: 902.4px;
	height: 126.72px;
}
.Message5_Message5 .Tab .tab {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 902.4px;
	height: 126.72px;
	display: flex;
	box-sizing: border-box;
}
.Message5_Message5 .Tab .tab .tab_1 {
	position: relative;
	flex: none;
	margin-right: 238.07999999999998px;
	width: 311.03999999999996px;
	height: 92.16px;
	display: flex;
	box-sizing: border-box;
}
.Message5_Message5 .Tab .tab .tab_1 .tab_2 {
	position: relative;
	flex: none;
	margin-right: 257.28px;
	width: 311.03999999999996px;
	height: 92.16px;
}
.Message5_Message5 .Tab .tab .tab_1 .tab_2 .Frame22 {
	position: relative;
	flex: none;
	margin-right: 245.76px;
	width: 311.03999999999996px;
	height: 92.16px;
	display: flex;
	box-sizing: border-box;
}
.Message5_Message5 .Tab .tab .tab_1 .tab_2 .Frame22 .tab_3 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 288px;
	height: 92.16px;
}
.Message5_Message5 .Tab .tab .tab_1 .tab_2 .Frame22 .tab_3 .Frame21 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 288px;
	height: 92.16px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	justify-content: flex-end;
	align-items: center;
}
.Message5_Message5 .Tab .tab .tab_1 .tab_2 .Frame22 .tab_3 .Frame21 .title {
	position: relative;
	flex: none;
	margin-bottom: 26.88px;
	height: 92.16px;
	display: flex;
	box-sizing: border-box;
}
.Message5_Message5 .Tab .tab .tab_1 .tab_2 .Frame22 .tab_3 .Frame21 .title .title_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 288px;
	height: 92.16px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(31,31,57,1.00);
	font-family: Poppins;
	font-size: 61.44px;
	font-weight: 400;
	line-height: 72px;
}
.Message5_Message5 .Tab .tab .tab_1 .tab_2 .Frame22 .tab_3 .Frame21 .selectiedline {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-bottom: 26.88px;
	width: 161.28px;
	height: 7.68px;
	background: rgba(61,92,255,1.00);
}
.Message5_Message5 .Tab .tab .tab_1 .tab_2 .Frame22 .Ellipse70 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 23.04px;
	height: 23.04px;
	background: rgba(255,255,255,1.00);
	border-radius: 50%;
}
.Message5_Message5 .Tab .tab .tab_4 {
	position: relative;
	flex: none;
	margin-right: 238.07999999999998px;
	width: 353.28px;
	height: 126.72px;
	display: flex;
	box-sizing: border-box;
}
.Message5_Message5 .Tab .tab .tab_4 .tab_5 {
	position: relative;
	flex: none;
	margin-right: 257.28px;
	width: 353.28px;
	height: 126.72px;
}
.Message5_Message5 .Tab .tab .tab_4 .tab_5 .Frame22_1 {
	position: relative;
	flex: none;
	margin-right: 245.76px;
	width: 353.28px;
	height: 126.72px;
	display: flex;
	box-sizing: border-box;
}
.Message5_Message5 .Tab .tab .tab_4 .tab_5 .Frame22_1 .tab_6 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 353.28px;
	height: 126.72px;
}
.Message5_Message5 .Tab .tab .tab_4 .tab_5 .Frame22_1 .tab_6 .Frame21_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 353.28px;
	height: 126.72px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	justify-content: flex-end;
	align-items: center;
}
.Message5_Message5 .Tab .tab .tab_4 .tab_5 .Frame22_1 .tab_6 .Frame21_1 .title_2 {
	position: relative;
	flex: none;
	margin-bottom: 26.88px;
	height: 92.16px;
	display: flex;
	box-sizing: border-box;
}
.Message5_Message5 .Tab .tab .tab_4 .tab_5 .Frame22_1 .tab_6 .Frame21_1 .title_2 .title_3 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 353.28px;
	height: 92.16px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(31,31,57,1.00);
	font-family: Poppins;
	font-size: 61.44px;
	font-weight: 500;
	line-height: 72px;
}
.Message5_Message5 .Tab .tab .tab_4 .tab_5 .Frame22_1 .tab_6 .Frame21_1 .selectiedline_1 {
	position: relative;
	flex: none;
	margin-bottom: 26.88px;
	width: 161.28px;
	height: 7.68px;
	background: rgba(61,92,255,1.00);
}
.Message5_Message5 .Tab .tab .tab_4 .tab_5 .Frame22_1 .Ellipse70_1 {
	visibility: hidden;
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 23.04px;
	height: 23.04px;
	background: rgba(255,105,5,1.00);
	border-radius: 50%;
}
.Message5_Message5 .Title {
	position: absolute;
	left: 76.8px;
	top: 230.39999999999998px;
	width: 595.1999999999999px;
	height: 138.24px;
}
.Message5_Message5 .Title .Notifications {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 595.1999999999999px;
	height: 138.24px;
	color: rgba(31,31,57,1.00);
	font-family: Poppins;
	font-size: 92.16px;
	font-weight: 600;
	line-height: 108px;
}
.Message5_Message5 .Status {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 168.95999999999998px;
}
.Message5_Message5 .Status .statuslight {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
	width: 1440px;
	height: 168.95999999999998px;
}
.Message5_Message5 .Status .statuslight .Notch {
	width: 1440px;
	height: 115.19999999999999px;
}
.Message5_Message5 .Status .statuslight .Notch .Subtract_8 {
	visibility: hidden;
	width: 168.95999999999998px;
	height: 115.19999999999999px;
}
.Message5_Message5 .Status .statuslight .Notch .Rectangle11 {
	visibility: hidden;
	width: 510.71999999999997px;
	height: 100%;
}
.Message5_Message5 .Status .statuslight .Notch .Subtract_9 {
	visibility: hidden;
	width: 168.95999999999998px;
	height: 115.19999999999999px;
}
.Message5_Message5 .Status .statuslight .StatusIcons {
	width: 264.96px;
	height: 53.76px;
}
.Message5_Message5 .Status .statuslight .StatusIcons .NetworkSignalLight {
	width: 76.8px;
	height: 53.76px;
}
.Message5_Message5 .Status .statuslight .StatusIcons .NetworkSignalLight .Path {
	width: 15%;
	height: 57.14285714285714%;
}
.Message5_Message5 .Status .statuslight .StatusIcons .NetworkSignalLight .Path_1 {
	width: 15%;
	height: 42.857142857142854%;
}
.Message5_Message5 .Status .statuslight .StatusIcons .NetworkSignalLight .Path_2 {
	width: 15%;
	height: 32.142857142857146%;
}
.Message5_Message5 .Status .statuslight .StatusIcons .NetworkSignalLight .EmptyBar {
	width: 15%;
	height: 71.42857142857143%;
}
.Message5_Message5 .Status .statuslight .StatusIcons .NetworkSignalLight .Path_3 {
	width: 15%;
	height: 57.14285714285714%;
}
.Message5_Message5 .Status .statuslight .StatusIcons .NetworkSignalLight .Path_4 {
	width: 15%;
	height: 42.857142857142854%;
}
.Message5_Message5 .Status .statuslight .StatusIcons .NetworkSignalLight .Path_5 {
	width: 15%;
	height: 32.142857142857146%;
}
.Message5_Message5 .Status .statuslight .StatusIcons .NetworkSignalLight .EmptyBar_1 {
	visibility: hidden;
	width: 15%;
	height: 71.42857142857143%;
}
.Message5_Message5 .Status .statuslight .StatusIcons .WiFiSignalLight {
	width: 61.44px;
	height: 53.76px;
}
.Message5_Message5 .Status .statuslight .StatusIcons .WiFiSignalLight .Path_6 {
	width: 27.32391357421875%;
	height: 21.860177176339285%;
}
.Message5_Message5 .Status .statuslight .StatusIcons .WiFiSignalLight .Path_7 {
	width: 58.2489013671875%;
	height: 23.672921316964285%;
}
.Message5_Message5 .Status .statuslight .StatusIcons .WiFiSignalLight .Path_8 {
	width: 89.0625%;
	height: 30.875941685267854%;
}
.Message5_Message5 .Status .statuslight .StatusIcons .BatteryLight {
	width: 96px;
	height: 53.76px;
}
.Message5_Message5 .Status .statuslight .StatusIcons .BatteryLight ._ {
	visibility: hidden;
	width: 30.72px;
	height: 46.08px;
}
.Message5_Message5 .Status .statuslight .StatusIcons .BatteryLight .Subtract_10 {
	visibility: hidden;
	width: 88.32px;
	height: 46.08px;
}
.Message5_Message5 .Status .statuslight .StatusIcons .BatteryLight .Rectangle23 {
	width: 3.84px;
	height: 15.36px;
}
.Message5_Message5 .Status .statuslight .StatusIcons .BatteryLight .Battery {
	visibility: hidden;
	width: 72.9609375px;
	height: 30.72px;
}
.Message5_Message5 .Status .statuslight .StatusIcons .BatteryLight .Battery ._100 {
	width: 72.9609375px;
	height: 30.72px;
}
.Message5_Message5 .Status .statuslight .StatusIcons .BatteryLight .Battery ._50 {
	visibility: hidden;
	width: 32.4515625px;
	height: 30.72px;
}
.Message5_Message5 .Status .statuslight .StatusIcons .BatteryLight .Battery ._10 {
	visibility: hidden;
	width: 11.52px;
	height: 30.72px;
}
.Message5_Message5 .Status .statuslight .StatusIcons .BatteryLight .Rectangle21Stroke {
	width: 88.32px;
	height: 46.08px;
}
.Message5_Message5 .Status .statuslight .StatusIcons .BatteryLight .Rectangle20 {
	width: 72.96px;
	height: 30.72px;
	background: rgba(31,31,57,1.00);
	border-radius: 3.84px;
}
.Message5_Message5 .Status .statuslight .Indicator {
	width: 23.04px;
	height: 23.04px;
}
.Message5_Message5 .Status .statuslight .Indicator .Indicator_1 {
	visibility: hidden;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.Message5_Message5 .Status .statuslight .TimeLight {
	width: 207.35999999999999px;
	height: 80.64px;
	border-radius: 76.8px;
}
.Message5_Message5 .Status .statuslight .TimeLight ._941 {
	width: 126.72px;
	height: 57.599999999999994px;
}
.Message5_Message5 .Status .statuslight .TimeLight ._941 ._941_1 {
	width: 109.15640624999999px;
	height: 42.58125px;
}