
.taboff_taboff {
	width: 73px;
	height: 28px;
	display: flex;
	box-sizing: border-box;
}
.taboff_taboff .tabon {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	background: rgba(255,255,255,1.00);
}
.taboff_taboff .tabon .Poular {
	color: rgba(133,133,151,1.00);
	font-weight: 400;
}