
.tabon_tabon {
	width: 73px;
	height: 28px;
	display: flex;
	padding-top: 4px;
	padding-right: 14px;
	padding-bottom: 4px;
	padding-left: 14px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(61,92,255,1.00);
	border-radius: 20px;
}
.tabon_tabon .Poular {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 45px;
	height: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}