  
  // .main__page-text {
  //   width: 323px;
  //   height: 216px;
  //   // margin-top: 75%;
  //   position: sticky;
  //   left: 26px;
  //   top: 61.77775573730469px;
  //   box-shadow: 0px 8px 12px
  //     rgba(
  //       184.00000423192978,
  //       184.00000423192978,
  //       210.00000268220901,
  //       0.20000000298023224
  //     );
  //   border-top-left-radius: 12px;
  //   border-top-right-radius: 12px;
  //   border-bottom-left-radius: 12px;
  //   border-bottom-right-radius: 12px;
  // }
  .main__page__header {
    box-shadow: 0px 8px 12px
      rgba(
        184.00000423192978,
        184.00000423192978,
        210.00000268220901,
        0.20000000298023224
      );
    background-color: rgba(255, 255, 255, 1);
    width: 323px;
    height: 216px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .main__page__header-div {
    margin: auto;
    padding: 10px;
    min-width: 350px;
    width: 50vw;
    max-width: 60vw;
    // height: 70px;
    position: relative;
    box-shadow: 0px 8px 12px
    rgba(
      184.00000423192978,
      184.00000423192978,
      210.00000268220901,
      0.20000000298023224
      );
    background-color: var(--white-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
  }
  // .main__page__header-div-shadow {
    
  //   background-color: rgba(255, 255, 255, 1);
  //   width: 375px;
  //   height: 48px;
  //   position: absolute;
  //   border-top-left-radius: 10px;
  //   border-top-right-radius: 10px;
  //   border-bottom-left-radius: 10px;
  //   border-bottom-right-radius: 10px;
  // }
  .main__page__header-today-fact {
    color: rgba(31.000000052154064, 31.000000052154064, 57.00000040233135, 1);
    width: 97px;
    height: 20px;
    position: relative;
    left: 12px;
    top: 25%;
    font-family: Poppins;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
    // line-height: px;
    font-weight: 500;
  }
  .main__page__header-link-1 {
    color: rgba(61.16404116153717, 92.17780977487564, 255, 1);
    width: fit-content;
    height: 20px;
    position: relative;

    // left: 200px;
    // left: 75%;
    // top: 25%;
    // line-height: px;

    float: right;
    margin-right: 20px; 
    margin-top: 15px;
    font-family: Poppins;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500;
  }
.fact-style{
  overflow-wrap: break-word;
  font-family: var(--font-PT-sans-Caption);
  padding: 0 10px 0 10px;
}
  