@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  :root {
    --font-base: "Poppins", poppins;
  
    --primary-color: #3D5CFF;
    --secondary-color: #FFEBF0;
    --black-color: #030303;
    --lightGray-color: #EAEAFF;
    --gray-color: #6b7688;
    --brown-color: #46364a;
    --white-color: #ffffff;
    --oragne: #FF6905;
    --text-1: #1F1F39;
    --text-2: #858597;
    --text-3: #B8B8D2;
    --text-4: #F4F3FD;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }